<canvas id="drawingPad" width="240" height="240"></canvas>
<ul id="palette">
    <li class="active" style="background:#000000"></li>
    <li style="background:#ff0000"></li>
    <li style="background:#00ff00"></li>
    <li style="background:#0000ff"></li>
    <li style="background:#ffff00"></li>
    <li style="background:#ff00ff"></li>
    <li style="background:#00ffff"></li>
</ul>

<a href="#" id="clear">Clear</a>
<a href="#" id="save">Save</a>
