<canvas style="margin: 0px auto; width:50%" id="drawingPad" width="240" height="240"></canvas>
<a href="#" id="clear" style="margin: 0px auto; width:50%">Clear</a>
<a href="#" id="save" style="margin: 0px auto; width:50%">Save</a>
